.notification-container {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 50;
}

.notification {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 1;
}

.notification.slide-in {
  transform: translateY(0);
}

.notification.slide-out {
  transform: translateY(-20px);
  opacity: 0;
}
