/* App layout theming */

.appMain {
  height: 20px;
  background-color: #F6F7F8;
  color: #0F0F0F;
  display: flex;
  flex-direction: column;
}

.appContent {
  flex: 1;
  padding-bottom: 48px;
  
}

.appHeader {
  background-color: white;
  border-bottom: 1px solid #D6D2C4;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navBar {
  display: flex;
  gap: 12px;
}

.navButton {
  color: #002E5D;
}

.navButton[disabled] {
  color: #002E5D;
  opacity: 0.35;
}

.appFooter {
  margin-top: auto;
  background-color: white;
  border-top: 1px solid #D6D2C4;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 2px;
}
